export NEO4J_PASSWORD=password
export API_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI3NjZjZTgwN2E2MDAyYTM4OWM0M2I0OWVlYTg1MzMwNCIsIm5iZiI6MTcyODQyNTc2OS45NDM2ODcsInN1YiI6IjY1YzNkNmM5ZTI2N2RlMDE3ZGJjYzhlZiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.LlTHw5WjF8B21g_UOimUAfYtLJre7ez7zNq3u9oGIfo

