HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

.fleet/

# VS Code
.vscode/

# eclipse/sts/jdtls
.settings/
.classpath
.project

.factorypath

# dgs generated
/bin

